
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* /* .latest-card-container {
  max-width: calc(100% - 8px);
} */

.latest-deal-1{
  background-image: url(../assets/deal-bloom.png);
}
.latest-deal-2{
  background-image: url(../assets/deal-ana.png);
}
.latest-deal-3{
  background-image: url(../assets/deal-zabo.png);
}


.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 14px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.overlay-1{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.newsletter{
  background-image: url(../assets/news-letter-bg.png);
}